header p {
  color: red;
}
header h1 {
  color: rgb(255, 180, 42);
}

.maincontainer{
  display: flex;
  height: 400px;
  justify-content: center;
  align-items: center;
 background-color: white;
}
.maincontainer a {
width: calc((100% - 50px) / 4);
margin-left: 70px;
}

.box {
  background-color: orange;
  cursor: pointer;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  text-align: center;
  color: aliceblue;
  font-size: 30px;
  font-weight: bold;
  position: relative;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.6);
  transition: 0.9;
}
.box:hover {
  opacity: 0.8;
}

.circle {
 position: relative;
 top: 20px;
 left: 20px;
 box-shadow: none;
}


.box1 p {
  position: absolute;
  top: 40%;
  left: 10%;
}
.box2 p {
  position: absolute;
  top: 40%;
  left: 10%;
}
.box3 p {
  position: absolute;
  top: 40%;
  left: 15%;
}
.box4 p {
  position: absolute;
  top: 40%;
  left: 10%;
}


.toiawase p {
  color: #fff;
  background: orange;
  border-radius: 5%;
  width: 120px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  list-style: none;
  margin-left: 30px;
  
}

.toiawase {
display: flex;
}

.meo h1 {
  color: orange;
  text-align: center;
  padding-top: 40px;
}

.meo p {
border-top: orange;
text-align: center;
width :50%;
margin-left: auto;
margin-right: auto;
margin-top: 40px;
margin-bottom: 0px;
padding-bottom: 30px;
}

.in{
  height:1000px;
  background-color: white;
}


.in h1 {
color: orange;
text-align: center;
padding-top: 60px;
}

.in p {
border-top: orange;
text-align: center;
width :65%;
margin-left: auto;
margin-right: auto;
margin-top: 40px;
}


.daishikaku {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.num {
  display: block;
  background: orange;
  height: 60px;
  width: 60px;
  margin-left: auto;
  margin-right: auto;
  color: aliceblue;
  font-size: 30px;
  line-height: 60px;
  border-radius: 50%;
  
}


.details {
display: flex;
justify-content: space-between;
margin-top: 40px;
margin-top: 20px;
padding-bottom: 40px;
}



dl  {
margin-top: 20px;
}
    
.num1 img {
  width: 300px; 
}

.num2 img {
  width: 300px;
}

.num3 img {
  width: 330px;
}

dt {
  text-align: center;
}

.num p{
  display: inline-block;
  color: #fff;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 28;
}

.txt {
margin-top: 20px;
font-weight: bold;
display: block;
font-size: 28;
}
    
dd {
margin-top: 20px;
display: block;
text-align: center;
}








.demand h1{
  color: orange;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 50px;
}

.demand ul {
display: flex;
justify-content: space-between;
align-items: stretch;
flex-wrap: wrap;
}

.demand li {
  list-style: none;
}

.pc {
width: 300px;
margin-bottom: 50px;
}


.demand:nth-child(){
  background: url(../img/icon-#{$num}.svg) 
  no-repeat center top;
  line-height: 1.5em;
  font-weight: bold;
}

.pc {
  background-size: 150px;
  padding-top: 170px;
  padding-bottom: 20px;
  font-size: 1.8rem;
}

.sp {
background-size: 50%;
padding-top: 30%;
padding-bottom: 5px;
font-size: 1.4rem;
}

.demand p {
font-weight: bold;
line-height: 1.5em;
font-size: 2.4rem;
font-size: 1.6rem;
text-align: center;
padding-bottom: 80px;
margin-top: 60px;
margin-bottom: 0px;
}

.demand	span {
font-size: 150%;
color: red;
}



.recommend {
  background-color: white;
}

.meo {
  background-color: white;
}

footer {
margin: 0;
height: 150px;
}

.tbl {
  display: flex;
}


.list {
list-style: none;
display: flex;
}

.list li {
  margin-right: 8px;
  line-height: 200px;
}
.list li a {
  color: white;
}

.add {
  text-align: left;
  margin-left: 20px;
}

.company p{
  text-align: left;
  margin-left: 20px;
  margin-bottom: 0px;
}

.headercontents {
  padding-top: 30px;
  background-color: white;
}

.headercontents h1{
  color: white;
  text-align: center;
  line-height: 130px;
  background-color: orange;
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  margin-top: 0px;
  margin-bottom: 0px;
}

.demand ul {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}

.demand ul li {
  width: 300px;
  border-bottom: solid 5px #ffdf46;
}



.demand ul > :nth-child(1){
  background: url(../shop1.png) no-repeat center top;
  line-height: 1.5em;
}

.demand ul li:nth-child(1) {
    background-size: 150px;
    padding-top: 170px;
    padding-bottom: 20px;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}




.demand ul > :nth-child(2){
  background: url(../money.png) no-repeat center top;
  line-height: 1.5em; 
}
.demand ul li:nth-child(2) {
    background-size: 150px;
    padding-top: 170px;
    padding-bottom: 20px;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}




.demand ul > :nth-child(3){
  background: url(../thokin.png) no-repeat center top;
  line-height: 1.5em  
}
.demand ul li:nth-child(3) {
    background-size: 150px;
    padding-top: 170px;
    padding-bottom: 20px;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}




.demand ul > :nth-child(4){
  background: url(../UP.png) no-repeat center top;
  line-height: 1.5em; 
}


.demand ul li:nth-child(4) {
    background-size: 150px;
    padding-top: 170px;
    padding-bottom: 20px;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}





.demand ul > :nth-child(5){
  background: url(../kirakira.png) no-repeat center top;
  line-height: 1.5em; 
}
.demand ul li:nth-child(5) {
    background-size: 150px;
    padding-top: 170px;
    padding-bottom: 20px;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}





.demand ul > :nth-child(6){
  background: url(../panchi.png) no-repeat center top;
  line-height: 1.5em;
 
}
.demand ul li:nth-child(6) {
    background-size: 150px;
    padding-top: 170px;
    padding-bottom: 20px;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}



.meo img {
  display: block;
  margin-left: 100px;
}

.matomari {
  display: flex;
}
.matomari p {
  width: 400px;
  font-size: 18px;
}

.matomari span {
  font-weight: bold;
  font-size: 20px;
  color: red;
}

.flow {
background-color: white;
}

section.flow .in {
  padding: 85px 20px 25px;
  
}
section .in {
  width: 1150px;
  margin: 0 auto;
  padding: 60px 20px 25px;
  box-sizing: border-box;
}
section h4 {
  font-size: 48px;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}
section.flow .flex {
  margin: 50px auto 0;
  display: flex;
  justify-content: space-between;
  width: 980px;
}

section.flow dl {
  display: block;
  border: 2px solid orange;
  width: 48%;
  
}

section.flow dl dt {
  position: relative;
  color: orange;
  font-size: 26px;
  font-size: 1.625rem;
  padding-left: 40px;
  padding: 20px 20px 20px 80px;
}

section.flow dl dt .number {
  position: absolute;
  top: 0;
  left: 0;
  background: orange;
  color: #fff;
  padding: 10px 22px;
  font-size: 40px;
  font-size: 2.5rem;

}

dl dt {
  font-weight: bold;
}

.flow {
  height: 1300px;
}


.bg_gy {
  background: #f4f6f6;
  padding-bottom : 100px;
}

.comparison-flex {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.mb-4 {
 
}

.comparison-flex ul:first-child {
  width: 50%;
}

.comparison-flex ul {
  box-sizing: border-box;
  text-align: center;
  margin-left: 2px;
}

.comparison-flex li {
  background-color: #F8B4B5;
  min-height: 9.1rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  background: #fff;
}



comparison-flex p.sm {
  display: none;
}

.comparison-flex ul {
  box-sizing: border-box;
  text-align: center;
  margin-left: 2px;
}

.comparison-flex ul {
  width: 100%;
  font-size: .8rem;
}

.comparison-flex ul {
  box-sizing: border-box;
  text-align: center;
  margin-left: 2px;
}

.comparison-flex ul {
  width: 100%;
  font-size: .8rem;
}

.comparison-flex ul {
  box-sizing: border-box;
  text-align: center;
  margin-left: 2px;
}

.comparison-flex ul.recommended {
  border: solid 6px orange;
  margin-top: -6px;
}

.comparison-flex li:first-child {
  min-height: 4rem;
  background: #ffc979;
}

.comparison-flex ul {
  box-sizing: border-box;
  text-align: center;
  margin-left: 2px;
}

.bl h2 {
  font-weight: 400;
  color: orange;
  margin-bottom: 1.5em;
  text-align: center;
  display: block;
  line-height: 1.6;
  padding-top: 40px;
  font-weight: bold;
}

.box_sp {
  padding-top: 40px;
}

ul {
  list-style: none;
  padding-left: 0;
}

h2::after {
  content: "　";
  font-size: 1rem;
  width: 40px;
  display: block;
  border-bottom: 2px solid orange;
  margin: 0px auto;
}

.comparison-flex li.item {
  font-size: 1rem;
  align-items: center;
  font-weight: 500;
  padding: 7px 0 7px 0;
}

.comparison-flex ul.recommended li:first-child {
  background: orange;
  color: #fff;
}

.comparison-flex li:nth-child(3) {
  background: #f9fafa;
}

.comparison-flex ul:first-child li {
  color: orange;
}

.page-section {
  background-color: white;
}

.stress .text {
  width: 100%;
  height: 672px;
  background: url(images/sec07_box_bg_sp.jpg) center no-repeat;
  padding: 30px 0 0;
  font-size: 47.48px;
}

.stress .text {
  width: 100%;
  height: 361px;
  margin: 0 0 80px;
  background: url(images/sec07_box_bg.jpg) center top / cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  color: #fff;
  font-size: 36px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 1px;
  background-attachment: fixed;
}

.text strong span {
  font-size: 66.47px;
}

.text::before {
  content: "";
  display: block;
  border-top: 48px solid white;
  border-right: 34.5px solid transparent;
  border-bottom: 0 solid transparent;
  border-left: 34.5px solid transparent;
  position: absolute;
  top: -1px;
}

.text strong span {
  font-size: 48px;
  font-style: italic;
  border-bottom: 2px solid #f9ea02;
}

.inner {
  width: 92.189%;
  padding: 0 0 10px;
  
}

#price{
  background-color: white;
}

.inner {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

.inner .plan tbody tr:first-of-type th {
  background: linear-gradient(#11acbc,#12abb7);
}

.plan tbody tr th {
  width: 270px;
  padding: 0 0 0 25px;
}

.inner .plan tbody tr th {
  width: 299px;
  height: 79px;
  color: #fff;
  text-align: left;
  padding: 0 0 0 44px;
}

.box_sp {
 padding-left: 8%;
 
}

#price .inner .plan tbody tr td {
  width: 706px;
  padding: 0 0 0 43px;
  font-weight: bold;
}


.inner .plan tbody tr:nth-of-type(1) th {
  background: linear-gradient(#12abb6,#14aaaf);
  border-top: 1px solid #e6e2e2;
}
.inner .plan tbody tr:nth-of-type(2) th {
  background: linear-gradient(#12abb6,#14aaaf);
}
.inner .plan tbody tr:nth-of-type(3) th {
  background: linear-gradient(#12abb6,#14aaaf);
}
.inner .plan tbody tr:nth-of-type(4) th {
  background: linear-gradient(#12abb6,#14aaaf);
}



@media screen and (max-width: 640px){
.plan {
    width: 1020px;
    margin: 0;
}

}

#price .inner .plan tbody tr {
  border-bottom: 1px solid #e6e2e2;
  border-right: 1px solid #e6e2e2;
  border-top: 1px solid #e6e2e2;

}

p.att::before, ul.att li::before {
  content: "※";
  padding: 0 3px 0 0;
}

.att{
  margin-left: 10%;
  padding-top: 8px;

}

.att li {
  padding-top: 10px;
}

.service {
  background-color: white;
}

.headercont {
  padding-top: 30px;
}

.headercont {
  
  background-color: white;
}

.headercont h1{
  color: white;
  text-align: center;
  line-height: 130px;
  background-color: orange;
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  margin-top: 0px;
  margin-bottom: 0px;
}


.reason p{
  margin-bottom: 0px;
}

.reason ol {
  counter-reset: list;
}

.reason ol li {
  margin-left: 60px;
  padding-top: 30px;
  padding-left: 80px;
  padding-bottom: 60px;

}

.reason ol li {
  position: relative;
  border-top: solid 5px #ffd57a;
}

.reason ol {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0px;
}

.reason ol li p span {
  color: #ef5350;
  font-weight: bold;
}

@media screen and (min-width: 960px){
.reason ol li::before {
    font-size: 7.2rem;
    width: 100px;
    left: -60px;
    top: 20px;
}}

.reason ol li::before {
  font-family: 'Roboto', sans-serif;
  position: absolute;
  counter-increment: list;
  content: counter(list);
  font-style: italic;
  color:orange;
  text-align: center;
  font-weight: 700;
}

@media screen and (min-width: 960px){
.reason ol li::after {
    width: 120px;
    height: 120px;
    left: -60px;
}
}

.reason h2 span {
  color: #ef5350;
  font-size: 50px;
}
.reason h2 {
  text-align: center;
  font-size: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
}


.reason ol li::after {
  background-color: orange;
  top: -5px;
  z-index: -1;
  content: "";
  position: absolute;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

ol {
  list-style-type: none;
}
